.showMoreLess {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.feed {
  margin: 0 10%;
  height: 80vh;
  min-width: 30%;
  max-width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid 1px black;
  overflow-wrap: break-word;
  padding: 1em;
}
.entry {
  background-color: gray;
}
.App {
  display: flex;
  justify-content: space-between;
  margin: 2% 5%;
}
